body{
    background-color: lavender;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.student{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 4px solid black;
    margin-bottom: 50px;
}


.fixed{
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 4px solid black;
    position: fixed;
    top: 10px;
    left: 5px;
    animation: fadein 2s 0s 1 normal forwards;

}
    @keyframes fadein {
        from{
            opacity: 0;
            height: 0;
        }
            
        to {
            opacity: 1;
            height: 100px;
        }
    }